@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welkom bij ROCit</h1>
    <p class="lead">Wij werken aan mooie software om ROCit het makkelijk te maken om onderhoud van auto's bij te houden!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welkom:</h2>
        <p>
            Welkom op deze website! hierbij kunnen wij onderhoud inzien en plaatsen op deze website.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Waarom?</h2>
        <p>
            Wij willen onderhoud van auto's zo goed megelijk bij kunnen houden. Onze dealers spelen hier ook een grote rol in.
            Ook onze dealers kunnen onderhoud plaatsen op onze website. Hierdoor kunnen wij makkelijk inzien wat er is gebeurd en wat de kosten zijn.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Inleiding:</h2>
        <p>
            In deze website wordt de probleemstelling van dit project beschreven. ROCit maakt voor het wagenpark een systeem om de statussen van de auto’s bij te houden. Alles is nu onoverzichtelijk en in dit document komt te staan waaraan deze applicatie moet voldoen.
            Wij zullen dan ook terugkoppelen aan de opdrachtgever of de opdrachtgever dit zo voor ogen heeft.
        </p>
    </div>
</div>